.app{
    display: flex;
    height: 100%;
    flex-basis: 200px;
}

.left{
    width: 300px;
    background-color: red;
}

.right{
    width: calc(100% - 300px);
    background-color: green;
}

.header{
    background-color: rgb(237, 237, 237);
    border: .5px solid rgb(74, 74, 74);
    color: rgb(145, 145, 145);
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profilo{
    background-color: orchid;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;

}

.nameUser{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 5px;
}

.ImgConteiner{
    height: 100%;
    padding: 5px;
}

img{
    height:100%;
    border-radius: 100%;
}

