.contatti{
    overflow-y: scroll;
    height: calc(100vh - 140px - 60px);
}

.contatto{
    padding: 10px 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 60px;
}

.contatto .ImgConteiner{
    padding:  0;
}

.contatto .nameUser{
    margin: 0;
    margin-left: 20px;
}

.contatto:hover{
    background-color: #646464;
}

.inputWrite{
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inputWrite input{
    width: calc(100%);
    border: 0;

}

.inputWrite .iconInput{
    width: auto;
    font-size: 20px;
}

.inputWrite .inputText{
    flex-grow: 1;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding: 5px 25px;
}

.inputWrite .inputText input{
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 15px;
}