
.messageAll{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-size: 15px;
    flex-grow: 1;
    overflow: auto;
    /* height: 100%; */
}

.divMessage{
    text-align: left;
}


.message{
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
    word-break: break-all;
    max-width: 60%;
}

.message:first-child{
    margin-top: 10px;
}

.received{
    background-color: green;
}

.sent{
    background-color: white;
}

.leftMove{
    text-align: left;
}

.rightMove{
    text-align: right;
}