<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolzano app</title>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- icon awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    
    <!-- moment js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>

    <!-- style -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/app.css">

    <!-- componenti -->
    <link rel="stylesheet" href="css/messaggiStyle.css">
    <link rel="stylesheet" href="css/contattiStyle.css">
    <link rel="stylesheet" href="css/searchFriend.css">
    <link rel="stylesheet" href="css/notificheStyle.css">
    <link rel="stylesheet" href="css/header.css">

</head>
<body>
    <div class="wrap">
        <div class="lineGreenBackground"></div>
        <div class="lineGrayBackground"></div>
        <div class="app" id="apps">
            
            <!-- left -->
            <div class="left">

                <!-- profilo info -->
                <div class="header">

                    <!-- profilo -->
                    <div class="profilo">
                        <div class="ImgConteiner">
                            <img :src="'img/avatar'+user.imgLink+'.jpg'" alt="profiloUser">
                        </div>
                        <p class="nameUser">{{user.name}}</p>
                    </div>
                    
                    <!-- action profile -->
                    <div class="profiloAction">
                        <div class="action stato">
                            <i class="fas fa-circle-notch"></i>
                        </div>        
                        <div class="action NewChat">
                            <i class="fas fa-comment-alt"></i>
                        </div>    
                        <div class=" action Option">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>                  
                    </div>

                </div>

                <!-- notifiche -->
                <div class="notifiche">

                    <!-- immagine notifica -->
                    <div class="iconNotifica">
                        <i class="far fa-bell"></i>
                    </div>

                    <!-- parte testuale -->
                    <div class="testoNotifiche">
                        <p class="titleNotifiche">Ricevi notifiche di nuovi messaggi</p>
                        <p class="activeNotifiche">Attiva notifiche desktop</p>
                    </div>

                </div>

                <!-- search -->
                <div class="search">
                    <div class="search-content">
                        <i class="fas fa-search">
                            <input type="text" placeholder="cerca o inizia una nuova conversazione" v-model='search' @input='filter'>
                        </i>
                    </div>
                </div>

                <!-- contatti -->
                <div class="contatti">
                    <div 
                    class="contatto" 
                    v-for='(contatto,index) in contatti' 
                    @click='changeChat(index)'
                    v-if='contatto.visible'>
                        
                        <!-- profilo -->
                        <div class="imgContatto">
                            <img :src="'img/avatar'+contatto.avatar+'.jpg'" alt="profilo">
                        </div>
                        <p class="nameUser">{{contatto.name}}</p>
                    </div>
                </div>

            </div>

            <!-- right -->
            <div class="right">
                
                <!-- header sx -->
                <div class="header paddingDiv">
                    <!-- profilo -->
                    <div class="profilo">
                        <div class="ImgConteiner">
                            <img :src="'img/avatar'+contatti[chatIndex].avatar+'.jpg'" alt="OtherPeople">
                        </div>
                        <p class="nameUser">{{contatti[chatIndex].name}}</p>
                    </div>
                    
                    <!-- action profile -->
                    <div class="profiloAction">
                        <div class="action stato">
                            <i class="fas fa-search"></i>
                        </div>        
                        <div class="action NewChat">
                            <i class="fas fa-paperclip"></i>
                        </div>    
                        <div class=" action Option">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>                  
                    </div>
                </div>

                <!-- message all -->
                <div class="messageAll">

                    <div 
                        class="divMessage" 
                        v-for="messaggio in chatAttiva"
                        :class="(messaggio.status == 'received') ? 'rightMove' : 'leftMove'">
                        <span>
                            <span 
                                class="message"
                                :class="(messaggio.status == 'received') ? 'message received' : 'message sent'"
                            >
                                {{messaggio.message}}
                                <!-- <p>{{messaggio.date}}</p> -->
                            </span>
                        </span>
                    </div>

                </div>

                <!-- write message  -->
                <div class="inputWrite">
                    <div class="iconInput">
                        <i class="far fa-smile"></i>
                    </div>
                    <div class="inputText">
                        <input type="text"  v-model="textInputChatMessage" @keyup.enter='addElementChat'>
                    </div>
                    <div class="iconInput">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="app.js"></script>
    
</body>
</html>