<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolzano app</title>

    <!-- ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- icon awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    
    <!-- moment js -->
   <script src="css/moment.js"></script>

    <!-- style -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/app.css">

    <!-- componenti -->
    <link rel="stylesheet" href="css/messaggiStyle.css">
    <link rel="stylesheet" href="css/contattiStyle.css">
    <link rel="stylesheet" href="css/searchFriend.css">
    <link rel="stylesheet" href="css/notificheStyle.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/finestraProfilo.css">
    <link rel="stylesheet" href="css/messaggiFiltrati.css">

</head>
<body>

    <div class="wrap">
        <div class="app" id="apps">

            <audio id="linkAudio" src="sound/audio esempio.mp3"></audio>
            
            <!-- left -->
            <div class="left">

                <!-- profilo info -->
                <div class="header">

                    <!-- profilo -->
                    <div class="profilo">
                        <div class="ImgConteiner">
                            <img :src="'img/avatar'+user.imgLink+'.jpg'" alt="profiloUser">
                        </div>
                        <p class="nameUser">{{user.name}}</p>
                    </div>
                    
                    <!-- action profile -->
                    <div class="profiloAction">
                        <div class="action stato">
                            <i class="fas fa-circle-notch" @click="openProfilo"></i>
                        </div>        
                        <div class="action NewChat">
                            <i class="fas fa-comment-alt"></i>
                        </div>    
                        <div class=" action Option">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>                  
                    </div>

                </div>

                <!-- notifiche -->
                <div class="notifiche">

                    <!-- immagine notifica -->
                    <div class="iconNotifica">
                        <i class="far fa-bell"></i>
                    </div>

                    <!-- parte testuale -->
                    <div class="testoNotifiche">
                        <p class="titleNotifiche">Ricevi notifiche di nuovi messaggi</p>
                        <p class="activeNotifiche">Attiva notifiche desktop</p>
                    </div>

                </div>

                <!-- search -->
                <div class="search">
                    <div class="search-content">
                        <i class="fas fa-search">
                            <input type="text" placeholder="cerca o inizia una nuova conversazione" v-model='search' @input='filter'>
                        </i>
                    </div>
                </div>

                <!-- contatti -->
                <div class="contatti">
                    <div 
                    class="contatto" 
                    v-for='(contatto,index) in contatti' 
                    @click='changeChat(index)'
                    v-if='contatto.visible'>
                        
                        <!-- profilo -->
                        <div class="ImgConteiner">
                            <img :src="'img/avatar'+contatto.avatar+'.jpg'" alt="profilo">
                        </div>
                        <p class="nameUser">{{contatto.name}}</p>
                    </div>
                </div>

                <!-- finestra profilo -->
                <div class="profiloFinestra" v-if="openProfiloBooleano">
                    <div class="profiloHeader">
                        <span class="closeProfiloFinestra" @click="closeProfiloFinestra">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Profilo</span>
                    </div>
                    <div class="mainProfilo">
                        <div class="imgConteiner">
                            <img :src="'img/avatar'+user.imgLink+'.jpg'" alt="">
                        </div>
                        
                        <div class="section">
                            <p>Il tuo nome</p>
                            <input v-model="user.name" type="text" disabled id="inputUserInput"> 
                            <span v-if="!editInput"><i @click="attivaInput('nomeUser')" class="fas fa-edit"></i></span>
                            <span v-if="editInput"><i @click="disattivaInput('nomeUser')" class="fas fa-check"></i></span>
                        </div>
                        
                        <p class="testoAvviso">Questo è il nome utente e sara visibile ai tuoi contatti</p>
                        
                        <div class="section">
                            <p>Info</p>
                            <!-- <textarea v-model="user.info" type="textArea" disabled id="inputInfoInput"></textarea> -->
                            <Editable v-model="user.info" v-bind:state="editInput"></Editable>
                            <span v-if="!editInput"><i @click="attivaInput('infoUser')" class="fas fa-edit"></i></span>
                            <span v-if="editInput"><i @click="disattivaInput('infoUser')" class="fas fa-check"></i></span>
                        </div>

                    </div>
                </div>

            </div>

            <!-- right -->
            <div class="right">

                
                <!-- header sx -->
                <div class="header paddingDiv">
                    <!-- profilo -->
                    <div class="profilo">
                        <div class="ImgConteiner">
                            <img :src="'img/avatar'+contatti[chatIndex].avatar+'.jpg'" alt="OtherPeople">
                        </div>
                        <div class="p-relative">
                            <p class="nameUser">{{contatti[chatIndex].name}}</p>
                            <p v-if="writeContatto" class="statoScrittura">{{contatti[chatIndex].name}} writing</p>
                        </div>
                    </div>
                    
                    <!-- action profile -->
                    <div class="profiloAction">
                        <div class="action stato">
                            <i class="fas fa-search"></i>
                        </div>        
                        <div class="action NewChat">
                            <i class="fas fa-paperclip"></i>
                        </div>    
                        <div class=" action Option">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>                  
                    </div>
                </div>

                <!-- message all -->
                <div class="messageAll">

                    <div 
                        class="divMessage" 
                        v-for="(messaggio,index) in chatAttiva"
                        :class="(messaggio.status == 'received') ? 'rightMove' : 'leftMove'">
                       
                            <p 
                                @click='clickMessage(index)'
                                :class="(messaggio.status == 'received') ? 'message received' : 'message sent'"
                            >
                                {{messaggio.message}}
                                
                                <span class="infoOrario">{{moment(messaggio.date)}}</span>

                            </p>

                            <div class="menuTendina">
                                <ul>
                                    <li @click='infoMessage(index)'>Messaggio info</li>
                                    <li @click='deleteMessage(index)'>Cancella messaggio</li>
                                </ul>
                            </div>
                            

                    </div>

                </div>

                <!-- write message  -->
                <div class="inputWrite">
                    <div class="iconInput">
                        <i class="far fa-smile"></i>
                    </div>
                    <div class="inputText">
                        <input type="text"  v-model="textInputChatMessage" @keyup.enter='addElementChat' placeholder="Inserisci testo da inviare">
                    </div>
                    <div class="iconInput">
                        <i class="fas fa-microphone" @click="playAudio"></i>
                    </div>
                </div>

            </div>

            <!-- search message -->
            <!-- ********************************************************* -->
            <div class="messageFiltatiAll">
                <div class="header headerMessaggiFiltrati">

                    <div class="profilo" >
                        <span><i class="fas fa-arrow-left"></i></span>
                    </div>
                    
                    <span class="profiloAction">
                        <span>Messaggi cercati</span>
                    </span>

                </div>

                <div class="search">
                    <div class="search-content">
                        <i class="fas fa-search">
                            <input type="text" placeholder="cerca o inizia una nuova conversazione" v-model='filterMessagiInput' @input='filterMessagi'>
                        </i>
                    </div>
                </div>

                <div 
                    v-if="(cercaMessagioArray.length != 0)"
                    class="divMessageFilter" 
                    v-for="(messaggio,index) in cercaMessagioArray">

                    <p class="infoOrarioFiltrato">
                        {{moment(messaggio.date)}}
                    </p>

                    <p>
                        <span  v-html="messaggio.message"></span>
                    </p>
                            
                </div>

                <p class="divMessageFilter" v-if="(cercaMessagioArray.length == 0)"> Non ci sono risultati</p>

            </div>
            <!-- ********************************************************** -->


        </div>
    </div>

    <script src="app.js"></script>
    
</body>
</html>